/* .card{
    margin-top:20px;
}
label {
    /* Other styling... */
    /* text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}
.field{
    display: flex; 
    align-items: center;
} */ 
@media (max-width: 768px) {
    /* CSS for smaller screens */
  }
  input[type="text"] {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  .p-button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .p-button:hover {
    background-color: #0056b3;
  }
  .p-error {
    color: red;
    font-style: italic;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .flex {
      flex-direction: column;
    }
  }
  /* label {
    width: 25%;
  }
   
  input {
    width: 25%;
  } */

  .flex-modal {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 70%;
    margin-bottom: 1rem;
  }
  .flex-item {
    width: 20% !important;
  }
  .flex-item-input {
    width: 40% !important;
  }
        